{% extends '::visao_i/layout.html.twig' %}
    {% block conteudo %}
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Tarefas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
            	{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
                <div class="form-group">
                    {{ form_widget(form.descricao, {'attr': {'class': 'form-control', 'size': 40, 'placeholder' : 'Insira a descrição da tarefa'}}) }}
                </div>
            	<div class="form-group"><button type="submit" class="btn btn-success">Criar nova tarefa</button></div>
                <p></p>
                <div>
                    {{ form_widget(form.data_finaliza, {'attr': {'size': 60}}) }}
                </div>
            	{{ form_widget(form) }}
            	{{ form_end(form) }}
            </div>
            <div class="col-lg-6 col-md-12">
        	{% if tarefas %}
	        	<div class="list-group">
	        		{% for tarefa in tarefas %}
                        <div class="list-group-item" >
                            <div class="alert {% if tarefa.finalizada %} alert-success {% else %} alert-info {% endif %}" id="tarefa-{{ tarefa.id }}">
                                <input type="checkbox" class="tarefa" value="{{ tarefa.id }}" {% if tarefa.finalizada %}checked="checked"{% endif %}>
                                <strong>{{ tarefa.descricao }}</strong> está 
                                <span id="tarefa-{{tarefa.id}}">
                                    {% if tarefa.finalizada %} <strong>completa!</strong> {% else %} <strong>pendente!</strong> {% endif %}
                                </span>
                            </div>
                            <div class="checkbox pull-right">
                                <a href="{{ path('tarefa-deletada', {'id': tarefa.id }) }}"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
	        		{% endfor %}
	        	</div>
            {% else %}
                <div class="alert alert-danger">
                    Nenhuma <strong>tarefa</strong> registrada. Crie uma nova utilizando o formulário.
                </div>
	        {% endif %}
       	</div>
    {% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.tarefa').change(function() {
                var tarefa = $(this).val();
                if($(this).is(":checked")) {
                    $('#tarefa-'+tarefa).removeClass('alert-info');
                    $('#tarefa-'+tarefa).addClass('alert-success');
                } else {
                    $('#tarefa-'+tarefa).removeClass('alert-success');
                    $('#tarefa-'+tarefa).addClass('alert-info');
                }
                mudaStatusTarefa(tarefa);
            });
        });

        function mudaStatusTarefa(tarefa) {
            $.post('/muda-status/' + tarefa);
        }
    </script>
{% endblock %}